@use "../../common.styles/variables.scss" as var;
@use "../../common.styles/text.styles.scss" as typo;

.search {
  width: 100%;
  height: var.$sizeDouble;
  border-radius: var.$sizeNorm;
  border: 1px solid var.$grayLight;
  padding: var.$sizeHalf;
  padding-left: var.$sizeNorm;

  display: flex;
  align-items: center;
  gap: var.$sizeHalf;
}

.searchField {
  flex-grow: 1;
  border: none;
  padding: 0;
  font-size: typo.$textBig;
}

.searchButton {
  width: var.$sizeNorm;
  height: var.$sizeNorm;
  border-radius: var.$sizeHalf;
  border: none;
  padding: 0;
  
  background-color: var.$purple;

  background-image: url("../../assets/magnifying-glass-solid.svg");
  background-position: center;
  background-size: var.$sizeHalf;
  background-repeat: no-repeat;

  cursor: pointer;

  &:hover {
    background-color: var.$purpleDark;
  }
}
